img.link {
	cursor: pointer;
}

a.link {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

h1 {
	display: block;
	padding:2px;
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 26px;
	/*text-decoration: underline; color: red*/
}

hr.separador_titulo {
	color: red;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 4%;
	display: block;
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
}

#contenedor_contenido {
	margin-left: 1%;
	margin-top: 5px;
	/*padding: 2px 2px 2px 2px;*/
	background-color: white;
	width: 1300px;
	border: 2px solid #e54224;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  	font-size: 12px;
  	overflow: auto;
}

div.contenedor_salas_complejo {
	margin-top: 10px;
	margin-left: 5px;
}

div.contenedor_sala {
	margin-left: 0%;
	font-size: 10px;
	height: 122px;
	border-bottom:2px solid #ffffff; /* Separador de filas */
	list-style: none;
}

div.contenedor_sala div {
	margin-top: 1px;
}

div.contenedor_sala div.sala {
	float:left;
	width:60px;
	height: 120px;
	background-color: black;
	color: #ffffff;
	border:1px solid black;
	text-align: center;
	vertical-align: middle;
}

div.contenedor_sala div.funcion { /* contenedor de funcion */
	float:left;
	background-color: #EAEAEA;
	color: #669;
	width:160px;
	height: 120px;
	border:1px solid grey;
	margin-left: 2px;	
}

div.contenedor_sala div.funcion div { 
	margin-bottom: 2px;
	margin-left: 2px;
}

div.contenedor_sala div.tieneMascara {
	background-color: #CCCC99;
}

div.contenedor_sala div.bloqueada {
	background-color: #CC9999;
}

div.adminFuncionesFooter {	
	border-bottom:2px solid #ffffff; /* Separador de filas */
	list-style: none;
	height: auto;
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
}

div.adminFuncionesFooter input[type="submit"] {
	background-color: #666;
	color: #fff;
	height:22px;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	border: 0 solid;
	padding-bottom: 5px;
}

table.disponibilidad {
	color: #669;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  	font-size: 10px;
  	width: 80%;
}

table.disponibilidad tbody td {
	text-align: center;
}

table.disponibilidad tbody td.label_fila {
	text-align: left;
	font-weight: bold;
}