/**********************************

Name: cmxform Styles
Author: Nick Rigby 

***********************************/

form.cmxform {
	width: 340px;
	/*width: 370px;
	font-size: 1.1em;
	color: #333;
	*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  	font-size: 12px;
}

form.cmxform fieldset {
	/*border: none;*/
	/*border-top: 1px solid #C9DCA6;*/
	border: 1px solid #FF0000;
	background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;
}
	
form.cmxform legend { 
	padding-left: 0;
}
	
form.cmxform legend, form.cmxform label {
	color: #669; 
	/*color: #333;*/ 
	
}

form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.cmxform label {
	display: inline-block;
	/*line-height: 1.0;*/
	vertical-align: top;
	width: 120px;/* Width of labels */
}

form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}

form.cmxform fieldset ol {
	margin: 0;
	padding: 0;
}
	
form.cmxform fieldset li {
	/*padding: 5px 10px 7px;*/
	/*background: url(../images/cmxform-divider.gif) left bottom repeat-x;*/
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.cmxform fieldset li.centrado {
	/*padding: 5px 10px 7px;*/
	text-align: center;
	/*background: url(../images/cmxform-divider.gif) left bottom repeat-x;*/
}

form.cmxform input[type="submit"] {
	background-color: #666;
	color: #fff;
	height:22px;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	border: 1px solid;
	padding-bottom: 5px;
}
form.cmxform input[type="submit"]:hover {
	border: 1px solid lightgray;
	cursor: pointer;
}

form.cmxform fieldset fieldset { 
	background: none; 
	border: none;
	margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
	margin-left: 123px; /* Width plus 3 (html space) */
}